.main{
    text-align:center;
}
.user {
    float: left;
}
.userImage{
    float: left;
}
.userParameter{
    float: left;

}
.sendUser{
    float: left;
}
.sendUserImagee {
    display: inline-block;
}
.inputPostForm {
    display: inline-block;
}

.post{
    float: left;
    
}
.postpost{
    width:150px;
    display: inline-block;
}

.postpoint{
    display: inline-block;
}

.postdatea{
    display: inline-block;
}