.main{
    text-align:center;
}
.userImage{
    display: inline-block;
}
.userParameter{
    display: inline-block;

}
.sendUserImagee {
    display: inline-block;
}
.inputPostForm {
    display: inline-block;
}

.postpost{
    width:150px;
    display: inline-block;
}

.postpoint{
    display: inline-block;
}

.postdatea{
    display: inline-block;
}